# Module 3 : Performance measurements of Decision Tree

In [2]:

import pandas as p
import matplotlib.pyplot as plt
import seaborn as s
import numpy as n

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:

df = p.read_csv("df4.csv")

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,rainfall,Average Humidity,Mean Temp,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,0.012360,57,62,23076.74,1941.55,9.83,19085.4365
1,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,0.084119,56,58,12610.85,1691.66,6.83,11554.0378
2,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,0.080064,58,53,32683.46,3207.35,9.33,29924.5755
3,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,0.181051,57,58,13209.32,2228.97,5.90,13150.9230
4,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Arecanut,1264.7,0.035446,63,67,22560.30,1595.56,13.57,21651.7492

In [6]:
df.rename(columns={'Mean Temp':'T'}, inplace=True)
df.rename(columns={'Average Humidity':'H'}, inplace=True)
df.rename(columns={'rainfall':'R'}, inplace=True)
df.rename(columns={'Cost of Cultivation (`/Hectare) C2':'CC'}, inplace=True)
df.rename(columns={'Cost of Production (`/Quintal) C2':'CP'}, inplace=True)
df.rename(columns={'Yield (Quintal/ Hectare) ':'Y'}, inplace=True) 
df.rename(columns={'cost of production per yield':'CPPY'}, inplace=True)

In [7]:
df['Y'].describe()

count    9542.000000
mean       94.521492
std       238.334783
min         1.320000
25%         9.590000
50%        13.700000
75%        36.610000
max      1015.450000
Name: Y, dtype: float64

In [8]:
df['Y'].nunique()

49

In [ ]:

from sklearn.preprocessing import LabelEncoder
var_mod = ['Y']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)
df['YPr']= df.Y.map({'13':0, '7':0, '11':0, '4':0, '23':0, '39':1, '10':0, '18':0, '36':1, '47':1, '8':0, '3':0,
       '38':1, '46':1, '5':0, '9':0, '2':0, '44':1, '17':0, '41':1, '6':0, '16':0, '35':1, '19':0,
       '0':0, '43':1, '12':0, '45':1, '25':0, '33':1, '29':0, '37':1, '32':1, '21':0, '42':1,
       '48':1, '30':1, '34':1, '26':0, '20':0, '31':1, '24':0, '27':0, '22':0, '40':1, '28':0,
       '1':0, '14':0, '15':0})

In [10]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'R', 'H', 'T', 'CC', 'CP', 'Y', 'CPPY', 'YPr'],
      dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'R', 'H', 'T', 'CC', 'CP', 'Y','CPPY']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,R,H,T,CC,CP,Y,CPPY,YPr
0,0,42,3,0,0,1015,33,45,10,21,30,5,126,0
1,0,42,4,0,0,1015,121,44,6,3,26,46,72,0
2,0,42,5,3,0,1016,118,46,1,33,45,3,200,0
3,0,42,6,3,0,1018,172,45,6,4,36,34,78,0
4,0,42,7,3,0,1019,75,51,15,20,24,16,144,0

In [12]:

from sklearn.metrics import confusion_matrix, classification_report, matthews_corrcoef, cohen_kappa_score, accuracy_score, average_precision_score, roc_auc_score

# Prediction of Crop by yield

In [13]:
X = df.drop(labels='YPr', axis=1)

y = df.loc[:,'YPr']

In [14]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

Support Vector Classifier

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
svc = SVC()

svc.fit(X_train, y_train)


predictDT = svc.predict(X_test)

print("")
print('Classification report of Support Vector Classifier Results:')
print("")

print(classification_report(y_test,predictDT))
x = (accuracy_score(y_test,predictDT)*100)

print('Accuracy result of Support Vector Classifier is', x)
print("")
cm2=confusion_matrix(y_test,predictDT)
print('Confusion Matrix result of Support Vector is:\n', confusion_matrix(y_test,predictDT))
print("")

sensitivity1 = cm2[0,0]/(cm2[0,0]+cm2[0,1])
print('Sensitivity : ', sensitivity1 )
print("")
specificity1 = cm2[1,1]/(cm2[1,0]+cm2[1,1])
print('Specificity : ', specificity1)

accuracy = cross_val_score(svc, X, y, scoring='accuracy')
print('Cross validation test results of accuracy:')
print(accuracy)
#get the mean of each fold 
print("")
print("Accuracy result of SupportVectorClassdifier is:",accuracy.mean() * 100)
dtree=accuracy.mean() * 100

Classification report of Support Vector Classifier Results:

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      1776
           1       0.82      0.80      0.81      1087

    accuracy                           0.86      2863
   macro avg       0.85      0.85      0.85      2863
weighted avg       0.86      0.86      0.86      2863

Accuracy result of Support Vector Classifier is 85.78414250785889

Confusion Matrix result of Support Vector is:
 [[1591  185]
 [ 222  865]]

Sensitivity :  0.8958333333333334

Specificity :  0.795768169273229
Cross validation test results of accuracy:
[0.86589838 0.86275537 0.86111111 0.86844864 0.86792453]

Accuracy result of SupportVectorClassdifier is: 86.52276044292017

In [16]:
from sklearn.neighbors import KNeighborsClassifier    
from sklearn.feature_selection import VarianceThreshold 
from sklearn.pipeline import Pipeline                                 

from sklearn.preprocessing import Normalizer, StandardScaler, MinMaxScaler, PowerTransformer, MaxAbsScaler, LabelEncoder
from sklearn.model_selection import GridSearchCV 

pipe = Pipeline([
('scaler', StandardScaler()),
('selector', VarianceThreshold()),
('classifier', KNeighborsClassifier())
])
 

 
parameters = {'scaler': [StandardScaler(), MinMaxScaler(),
Normalizer(), MaxAbsScaler()],
'selector__threshold': [0, 0.001, 0.01],
'classifier__n_neighbors': [1, 3, 5, 7, 10],

}
 
grid = GridSearchCV(pipe, parameters, cv=2).fit(X_train, y_train)
print(grid.best_params_)
 
print('Training set score: ' + str(grid.score(X_train, y_train)))
print('Test set score: ' + str(grid.score(X_test, y_test)))

{'classifier__n_neighbors': 10, 'scaler': MinMaxScaler(), 'selector__threshold': 0}
Training set score: 0.970504566551879
Test set score: 0.9577366398882291